.subComment {
  margin-top: 0.2rem;
}
.contentsPart {
  display: flex;
}

.profile {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.nickname {
  font-family: Bazzi;
  font-size: 1.1rem;
  font-weight: bold;
}

.tagName {
  font-family: Bazzi;
  color: #ffd426;
}

.commentPart {
  margin-left: 0.3rem;
  font-family: Bazzi;
}

.dateAndBtnPart {
  margin-left: 1.8rem;
}

.date {
  font-family: Bazzi;
  color: gray;
}

.commentBtn {
  font-family: Bazzi;
  color: gray;
  margin-left: 0.8rem;
}
