.modal {
  position: fixed;
  z-index: 0;
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 20ms ease-in-out;
}

.modal.isOn {
  z-index: 5;
  opacity: 1;
}

.box {
  position: relative;

  width: 30rem;
  height: 18rem;
  background: #ffc600;
  border-radius: 25px;
  box-shadow: 2px 4px 9px 0 rgba(0, 0, 0, 0.5);
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  position: absolute;
  width: 1.2rem;
  right: 1.2rem;
  top: 1.2rem;
  cursor: pointer;
}

.deleteMotion {
  width: 8rem;
  height: 8rem;
}

.message {
  font-family: MaplestoryOTFBold;
  font-size: 1.5rem;
}

#deleteMessage {
  font-size: 1rem;
  color: orangered;
}

.yesOrNoButton {
  width: 70%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.yesButton {
  width: 40%;
  padding: 0.5rem 0.8rem;
  font-family: MaplestoryOTFBold;
  font-size: 1.5rem;
  background-color: black;
  border-radius: 25px;
  border: none;
  outline: none;
  color: GreenYellow;
  cursor: pointer;
}

.noButton {
  /* margin-left: 3.5rem; */
  width: 40%;
  padding: 0.5rem 0.8rem;
  font-family: MaplestoryOTFBold;
  font-size: 1.5rem;
  background-color: black;
  border-radius: 25px;
  border: none;
  outline: none;
  color: orangered;
  cursor: pointer;
}

.caution {
  margin-top: 1.2rem;
  font-family: MaplestoryOTFBold;
  font-size: 1.5rem;
}
