.usercard {
  position: relative;
  display: flexbox;
  height: 4rem;
  background-color: white;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.usercard:hover {
  transform: scale(1.05);
}

.userProfile {
  position: absolute;
  display: flex;
  border-radius: 50%;
  width: 2.6rem;
  height: 2.6rem;
  left: 6.3%;
  top: 17%;
  margin: 0%;
}

.username {
  position: absolute;
  display: flex;
  left: 4.3rem;
  top: 0.9rem;
  font-family: MaplestoryOTFLight;
  color: black;
  font-size: 0.65rem;
}

.userbreed {
  position: absolute;
  display: flex;
  left: 4.6rem;
  top: 1.8rem;
  font-family: MaplestoryOTFLight;
  color: #8f8f8f;
  font-size: 0.47rem;
}

.status {
  position: absolute;
  display: flex;
  left: 4rem;
  top: 2.6rem;
  font-family: MaplestoryOTFLight;
  color: #ffc600;
  font-size: 0.6rem;
}

.outButton {
  position: relative;
  margin-top: 2%;
  margin-left: 75%;
  width: 3rem;
  height: 3rem;
}

@media (max-width: 600px) {
  .username {
    left: 5rem;
  }

  .userbreed {
    left: 5rem;
  }

  .status {
    left: 5rem;
  }
  .outButton {
    background-color: #ffc600;
    border-radius: 20%;
    margin-top: 2.3%;
    width: 2.5rem;
    height: 2.5rem;
  }
}
