.grid_container {
  width: 50vw;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  left: 20.3rem;
  text-align: center;
}
.emptySpace {
  content: '';
  height: 4.225rem;
}

.target {
  display: none;
}

.target.isOn {
  display: inline-block;
  position: relative;
  width: 100vw;
  text-align: center;
  font-size: 2rem;
  height: 10vh;
  padding-top: 2.5vh;
  margin: 0 auto;
  color: grey;
  font-family: MaplestoryOTFBold;
  font-weight: bold;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 65rem) {
  .grid_container {
    all: unset;
    text-align: center;
    position: relative;
    width: 100vw;
    top: 17rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .emptySpace {
    all: unset;
    display: none;
  }

  .target.isOn {
    position: relative;
    width: 100vw;
    text-align: center;
    font-size: 1.5rem;
    color: grey;
    font-family: MaplestoryOTFBold;
    font-weight: bold;
    text-align: center;
  }
}
