.grid_item {
  padding-right: 0.3rem;
}

.thumbnail {
  border-radius: 0.5rem;
  width: 15.1vw;
  height: 31vh;
  cursor: pointer;
  opacity: 1;
}

.thumbnail:hover {
  opacity: 0.4;
}

@media screen and (max-width: 65rem) {
  .thumbnail {
    width: 33vw;
    height: 16vh;
    border-radius: 0;
    padding-right: 0.3rem;
  }
  .grid_item {
    padding: 0;
  }
  .thumbnail:hover {
    opacity: 1;
  }
}
