.talkBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: all 250ms ease-in-out;
  margin-bottom: 0.5rem;
}

.messagesss {
  position: relative;
  display: flex;
  padding: 2%;
  border: 2px solid #e7e7e7;
  border-radius: 1rem;
  width: 40%;
  margin-left: 60%;
  margin-right: 2%;
  font-family: MaplestoryOTFLight;
  font-size: 0.8rem;
  transition: all 180ms ease-in-out;
  word-break: break-all;
  flex-direction: column;
}

.dates {
  position: relative;
  display: flex;
  margin-left: 69%;
  font-family: MaplestoryOTFLight;
  color: #8f8f8f;
  font-size: 0.6rem;
  transition: all 180ms ease-in-out;
  flex-direction: column;
}

@media (max-width: 600px) {
  .message {
    background-color: #ffc600;
    width: 50%;
    margin-left: 48%;
  }
  .dates {
    margin-left: 59%;
  }
}
