.main {
  background-image: url('../../images/Background_main.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 250ms ease-in-out;
}

.flexBox {
  position: relative;
  display: flex;
  width: 70%;
  top: 2%;
  height: 100%;
  margin-left: 15%;
  border-left: 2px solid #e1e1e1;
  border-right: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
  transition: all 250ms ease-in-out;
  overflow-x: hidden;
}

.listBox {
  position: relative;
  display: flexbox;
  background-color: white;
  width: 35%;
  overflow: auto;
  transition: all 250ms ease-in-out;
  overflow-x: hidden;
}

.profile {
  position: relative;
  display: flexbox;
  width: 100%;
  height: 23%;
  border-bottom: 2px solid #e1e1e1;
}

.image {
  position: relative;
  display: flex;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  top: 50%;
  left: 7%;
  margin: 0%;
  transition: all 250ms ease-in-out;
}

.name {
  position: relative;
  display: block;
  width: 9.5rem;
  top: 15%;
  left: 35%;
  margin: 0%;
  font-family: MaplestoryOTFBold;
  font-size: 0.9rem;
  font-weight: bold;
  transition: all 250ms ease-in-out;
}

.breed {
  position: relative;
  display: block;
  width: 9rem;
  top: 20%;
  left: 35%;
  margin: 0%;
  font-family: MaplestoryOTFLight;
  color: #8f8f8f;
  font-size: 0.6rem;
  transition: all 250ms ease-in-out;
}

.addRoom {
  position: relative;
  width: 5rem;
  height: 5rem;
}

.chatBox {
  position: relative;
  display: flexbox;
  width: 70%;
  border-left: 1.6px solid #e1e1e1;
  transition: all 250ms ease-in-out;
}

.chatonBoard {
  display: flexbox;
  background-color: white;
  height: 90%;
  width: 100%;
  transition: all 250ms ease-in-out;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
}

.chatPost {
  position: absolute;
  display: flex;
  background-color: white;
  height: 10%;
  width: 100%;
  border-top: 1.6px solid #e1e1e1;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
  transition: all 250ms ease-in-out;
  outline: none;
}

.profileBlock {
  display: none;
}

.send {
  position: relative;
  border: 1px solid lightgray;
  border-radius: 10%;
  background-color: #f8f8f8;
  width: 20%;
  height: 8%;
  margin-top: 1.2%;
  margin-left: 78%;
  text-align: center;
  font-size: 0.9rem;
  color: lightgray;
  align-items: center;
  padding-top: 3%;
  transition: all 200ms ease-in-out;
}

.backList {
  position: absolute;
  display: none;
  width: 3rem;
  height: 3rem;
  top: 3rem;
}

@media (max-width: 1200px) {
  .flexBox {
    width: 80%;
    top: 2%;
    height: 100%;
    margin-left: 12%;
  }
  .image {
    width: 2.9rem;
    height: 2.9rem;
    top: 50%;
    left: 7%;
  }

  .name {
    width: 7rem;
    top: 20%;
    font-size: 0.8rem;
  }

  .breed {
    width: 7rem;
    top: 27%;
    left: 34%;
    font-size: 0.36rem;
  }

  .listBox {
    width: 40%;
  }

  .flexBox {
    width: 75%;
  }
}

@media (max-width: 1038px) {
  .flexBox {
    top: 9%;
    margin-left: 4rem;
    width: 85%;
  }
  .listBox {
    width: 55%;
  }
}

@media (max-width: 800px) {
  .flexBox {
    top: 10%;
    width: 39rem;
    height: 100%;
    margin-left: 2rem;
  }

  .profile {
    height: 9rem;
  }

  .image {
    width: 2.9rem;
    height: 2.9rem;
    top: 48%;
    left: 7%;
  }

  .breed {
    width: 7rem;
    top: 20%;
    left: 34%;
    font-size: 0.36rem;
  }
  .name {
    top: 13%;
  }
  .listBox {
    width: 50%;
  }
  .chatBox {
    width: 70%;
  }
}

@media (max-height: 630px) {
  .flexBox {
    height: 36rem;
    transition: all 250ms ease-in-out;
  }

  .profile {
    height: 9rem;
    transition: all 250ms ease-in-out;
  }

  .image {
    width: 2.9rem;
    height: 2.9rem;
    top: 51%;
    left: 7%;
    transition: all 250ms ease-in-out;
  }

  .name {
    width: 7rem;
    top: 18%;
    font-size: 0.8rem;
    transition: all 250ms ease-in-out;
  }

  .breed {
    width: 7rem;
    top: 22%;
    left: 34%;
    font-size: 0.36rem;
    transition: all 250ms ease-in-out;
  }
}

.block {
  position: relative;
  display: flex;
  height: 4.125rem;
  transition: all 250ms ease-in-out;
}

.talkBox {
  display: flexbox;
  width: 20rem;
  transition: all 250ms ease-in-out;
}

.message {
  position: relative;
  display: flex;
  padding: 2%;
  border: 2px solid #e7e7e7;
  border-radius: 1rem;
  width: 70%;
  left: 3rem;
  font-family: MaplestoryOTFLight;
  font-size: 0.8rem;
  transition: all 250ms ease-in-out;
  word-break: break-all;
}

.chatProfile {
  position: relative;
  display: inline-flex;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  left: 1rem;
  transition: all 250ms ease-in-out;
}

.dates {
  position: relative;
  display: flex;
  left: 3.6rem;
  font-family: MaplestoryOTFLight;
  color: #8f8f8f;
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
  transition: all 250ms ease-in-out;
}

@media (max-width: 490px) {
  .profile {
    display: none;
  }

  .chatBox {
    position: static;
    width: 20.7rem;
    border-right: 2px solid #e1e1e1;
  }

  .listBox {
    position: absolute;
    background-color: white;
    width: 18rem;
    height: 100%;
    overflow: auto;
    transition: all 250ms ease-in-out;
    border-right: 2px solid #e1e1e1;
  }

  .main {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .flexBox {
    margin-left: 6%;
    height: 91%;
  }

  .profileBlock {
    display: flex;
    height: 3rem;
    color: white;
  }
  .block {
    height: 6rem;
  }
  .chatPost {
    position: absolute;
    display: flex;
    top: 90%;
    background-color: white;
    height: 10%;
    width: 53.2%;
    border-right: 2px solid #e1e1e1;
    border-bottom: 2px solid #e1e1e1;
    transition: all 250ms ease-in-out;
    outline: none;
  }
  .backList {
    top: 12%;
    left: 1%;
    display: block;
  }
  .backList:hover {
    transform: scale(1.02);
  }
}
