/* profile 부분 css */
.gridFrame {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 20rem;
  width: 50.7vw;
  height: 100vh;
  border-right: 3px solid #e1e1e1;
  border-left: 3px solid #e1e1e1;
}

.profile {
  border-bottom: 3px solid #e1e1e1;
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 21rem;
  min-width: 20rem;
  max-width: 20rem;
  align-items: center;
  top: 4.125rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  cursor: pointer;
  background: white;
}

.image {
  border-radius: 50%;
  width: 6.6rem;
  height: 6.6rem;
  -webkit-user-drag: none;
}
.petName {
  margin-top: 1.2rem;
  height: 1.75rem;
  font-size: 1.6rem;
  font-family: MaplestoryOTFBold;
  text-align: center;
}
.breed {
  font-family: MaplestoryOTFLight;
  margin-top: 0.5rem;
  height: 1.75rem;
  color: #8f8f8f;
  font-size: 1rem;
  text-align: center;
}

.postCountPart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postsCount {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Arial;
}
.postsCountNumber {
  margin-top: 0.4rem;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: Arial;
}

/* add button css */

.addButton {
  z-index: 2;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 2.5rem;
  width: 5.5rem;
  height: 5.5rem;
  line-height: 6rem;
  background: #ffc600;
  color: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  font-weight: 900;
  cursor: pointer;
}

.addPostImg {
  padding-top: 0.2rem;
  width: 6rem;
  height: 6rem;
}

/* 모바일 버전 대응 */

@media screen and (max-width: 65rem) {
  .gridFrame {
    all: unset;
    display: none;
  }

  .image {
    width: 5.5rem;
    height: 5.5rem;
    margin-left: 1.5rem;
  }

  .flexBox {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 7rem;
    align-items: center;
  }

  .petName {
    all: unset;
    font-size: 1.2rem;
    font-family: MaplestoryOTFBold;
  }

  .breed {
    all: unset;
    margin-top: 0.1rem;
    font-size: 1rem;
    font-family: MaplestoryOTFLight;
    color: #8f8f8f;
  }

  .profile {
    z-index: unset;
    border-bottom: 4px solid #e1e1e1;
    width: 100%;
    text-align: center;
    flex-direction: row;
    min-width: unset;
    max-width: unset;
    top: 7rem;
    height: 10rem;
    padding-top: unset;
    padding-bottom: unset;
  }

  .userInform {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 1.2rem;
  }

  .postCountPart {
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
  }

  .postsCount {
    all: unset;
    margin-top: 0;
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial;
  }

  .postsCountNumber {
    all: unset;
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial;
    margin-left: 0.5rem;
  }

  .addButton {
    right: 1rem;
    bottom: 1rem;
    width: 4rem;
    height: 4rem;
  }

  .addPostImg {
    padding-top: 0.4rem;
    width: 4.2rem;
    height: 4.2rem;
  }
}
